spectograms/
*.wav
*.mp3
*.m4a
*.ogg
*.flac
*.aac

metadata.csv
*.csv
*.json
*.txt
*.log
*.pth
*.pt

model.cpython
__pycache__/model.cpython-312.pyc

miniconda3-latest-Linux-x86_64.sh
miniconda.sh

spectograms/
fma_small/

fma_small.zip
#gitignore everything in fma_spectograms
fma_spectograms/

/fma_spectograms/*
fma_spectograms/*
fma_spectrograms/000002.npy
fma_spectrograms/000003.npy
fma_spectrograms/000004.npy
fma_spectrograms/000005.npy
fma_spectrograms/000006.npy
fma_spectrograms/000007.npy
fma_spectrograms/000008.npy

# Ignore spectrograms and numpy files
fma_spectrograms/
*.npy

fma_metadata.zip
